/* En src/pages/ClientAuth.module.css (Versión 2.0) */
.wrapper {
    min-height: 100vh;
    display: flex; /* <-- La clave para las columnas */
    background-color: var(--mantine-color-body);
}

.formPaper {
    flex: 1; /* <-- Ocupa el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    box-shadow: none; /* Quitamos sombras extra si no las queremos */
}

.image {
    flex: 1; /* <-- Ocupa la otra mitad del espacio */
    background-size: cover;
    background-position: center;
}

.link {
    color: var(--mantine-color-brand-yellow-5);
    font-weight: bold;
}
.link:hover { text-decoration: underline; }

/* --- MAGIA RESPONSIVA --- */
/* En pantallas pequeñas (móviles), la imagen se oculta */
@media (max-width: 768px) {
    .image {
        display: none;
    }
}